* {
    font-family: Cantarell;
    font-size: 16px;
    font-weight: bold;
    font-feature-settings: "tnum";
    color: white;
}

window.critical {
    background: #400d;
    border-radius: 20px;
    padding: 10px 20px;
}

window.changer {
    background: none;
}

window.changer grid {
    background: #000d;
    border-radius: 40px;
    padding: 16px;
    padding-right: 24px;
}

window.changer progressbar trough {
    border-radius: 4px;
    background: #111;
}

window.changer progressbar trough progress {
    border-radius: 4px;
    background: white;
}

window.bar {
    background: black;
    min-height: 32px;
}

window.bar button {
    all: unset;
}

window.bar button {
    margin: 4px;
    padding: 0 8px;
}

window.bar button :hover {
    border-radius: 32px;
    background: #222;
    padding: 0 8px;
    margin: 0 -8px;
}

