* {
    all: unset;

    font-family: Cantarell;
    font-size: 16px;
    font-feature-settings: "tnum";
}

window.bar {
    background: black;
    min-height: 32px;
}

window.bar button {
    margin: 3px;
    padding: 0 10px;
}

window.bar button :hover {
    border-radius: 32px;
    background: #171717;
    padding: 0 10px;
    margin: 0 -10px;
}
