.bar menubutton.bar-button > button label,
.changer label {
    font-family: Cantarell;
    font-size: 16px;
    font-feature-settings: "tnum";
    color: white;
}

.normal-icons {
    -gtk-icon-size: 16px;
}

progressbar {
    trough {
        border-radius: 4px;
        border: none;
        background-color: #111;
        progress {
            border-radius: 4px;
            border: none;
            background-color: white;
        }
    }

    &.horizontal > trough {
        min-width: 160px;
        min-height: 4px;
        progress {
            min-height: inherit;
        }
    }

    &.vertical > trough {
        min-height: 80px;
        min-width: 4px;
        progress {
            min-width: inherit;
        }
    }
}

.critical {
    background: #400d;
    border-radius: 20px;
    padding: 10px 20px;

    font-weight: bold;
}

.changer {
    background: #000d;
    border: 1px solid #222;
    border-radius: 8px;
    padding: 8px;
    min-width: 192px;

    font-weight: bold;
}

.bar {
    background: black;
    min-height: 32px;

    menubutton.bar-button {
        margin: 3px;
        padding: 0 8px;
        font-weight: bold;

        &:hover {
            border-radius: 32px;
            background: #222;
        }

        > button {
            all: unset;
        }
    }
}
